.release {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  padding: 25px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.release:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.release h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}
.release h3 {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}

.releaseHeader {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tracklistContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tracklist {
  width: 400px;
}
.rating {
  color: #90b494;
}

.votes {
  color: #208aae;
}
