.audioPlayer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0%;
  background: white;
  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.226);
  height: 105px;
}
