.audio-player {
  position: fixed;
  height: 95px;
  width: 100vw;
  left: 0%;
  top: 88%;
  background: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.audio-timeline-container{
  height: 15px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.51);
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: space-between; 
  padding: 0px 30px 0px 10px;
}
.audio-navigation-container-info{
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.audio-navigation-container-info img{
  width: 55px;
  width: 55px;
}
.audio-navigation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 5px 60px 5px 30px;
}
.audio-navigation-container-buttons{
  display: flex;
}
.audio-navigation-container-buttons button{
  width: 40px;
  height: 40px;
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  border: none;
}
.audio-navigation-container-buttons img{
  width: 35px;
  height: 35px;
  filter: invert(150%) grayscale(150%) saturate(2000%) brightness(50%);
}
.audio-navigation-container-buttons img:hover{
  filter: none;
}
.audio-navigation-container-buttons button:hover{
  cursor: pointer;
}
