.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
  gap: 10px;
}

.pagination-button {
  background-color: #949c9e7c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.pagination-button:disabled {
  background-color: #c3c3c3ae;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #949c9e;
}
