@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}
.profile-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
}

.card {
  display: flex;
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  gap: 80px;
  line-height: 1.5;
}

.avatar {
  width: 450px;
  height: 450px;
  border-radius: 48% 52% 70% 30% / 30% 57% 43% 70%;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.card h2 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

mark {
  background-color: transparent;
  background-image: linear-gradient(#dfecff, #dfecff);
  background-repeat: no-repeat;
  animation: highlight 4s forwards;
}

.messengers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.messengers-icon {
  width: 40px;
  height: 40px;
}

@keyframes highlight {
  from {
    background-size: 0%;
  }
  to {
    background-size: 100%;
  }
}
.stack-section {
  min-height: 100vh;
}
.stack {
  display: flex;
  justify-content: space-around;
}
.stack-section h2 {
  font-size: 6rem;
  text-align: center;
  font-family: "Gilroy";
}

