.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  padding: 20px;
  background-color: transparent;
}
.header-logo{
  font-size: 35px;
  font-weight: 700;
}
