@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.wrapper {
  min-height: 100%;
  overflow: hidden;
  
}
html,
body {
  height: 100%;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'IBM Plex Sans', sans-serif;
}

