@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
body{
	font-family: "Epilogue", sans-serif;
	line-height: 27px;
	font-size: 17px;
}
.header{
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	-webkit-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 22px 0px rgba(34, 60, 80, 0.2);
	margin-bottom: 80px;
}
.header-nav-list{
	display: flex;
	justify-content: space-between;
	min-width: 200px;
}
.header-logo__text{
	font-weight: 600;
	font-size: 20px;
}
.navigation-block{
	margin: 0 auto;
	display: flex;
	width: 780px;
	gap: 10px;
	margin-bottom: 10px;
}
a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.664);
}
a:hover{
	color: black;
	border-bottom: 1px solid black;
}
