.mixcloud-container {
  color: black;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px;
}
.release-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.release-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  padding: 20px;
  background-color: #f0f4f8;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: border 0.3s;
}

.release-item:hover {
  border: 1px solid black;
}

.release-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.release-title {
  font-size: 18px;
  font-weight: bold;
  max-width: 200px;
}

.release-image-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.release-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.play-icon,
.pause-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.release-image-container:hover .icon {
  opacity: 1;
}

.play-icon-svg,
.pause-icon-svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.release-tracklist {
  width: 400px;
}

.tracklist-compositions {
  font-size: 12px;
  line-height: 1.5;
}

.release-info {
  font-size: 14px;
  margin-top: 10px;
}

.rating-number {
  color: #90b494;
}

.vote-count-number {
  color: #208aae;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f4f8;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 80px;
}

.pagination-button {
  background-color: #949c9ed4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #c3c3c3;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #1b7997;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
.visible{
  visibility: visible;
  transition: visibility 2s;
}
.hidden{
  visibility: hidden;
}
.audio-player{
  position: fixed;
  height: 10vh;
  width: 100vw;
  left: 0%;
  top: 90%;
  background-color: #d1e7fbfb;
}
